// Rəng dəyişənləri
$neon-blue: #00ffff;
$neon-pink: #ff00ff;
$neon-purple: #8a2be2;
$neon-light: #b19cd9;
$background-dark: #0b0c10;

// Font
$font-family: 'Poppins', sans-serif;

// Size
$clock-size: 320px;
$hand-width: 3px;
